.green {
    border: 2px solid #2ecc71 !important;
    background-color: rgba(46, 204, 113, 0.2) !important;
}

.red {
    border: 2px solid #e74c3c !important;
    background-color: rgba(231, 76, 60, 0.2) !important;
}
.yellow {
    border: 2px solid #ecdd39d3 !important;
    background-color: rgba(203, 157, 7, 0.2) !important;
}